html {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

#categoryGallery {
  min-height: 100svh;
  width: 100%;
  padding: 4rem 5rem 3rem;
}

/* #categoryDisplay .container {
  margin-top: 6rem;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
} */

/* #categoryDisplay .container .categoryObject {
    width: 21vw;
} */

#categoryGallery .container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 25vw);
  grid-auto-rows: 100svh;
  grid-auto-rows: calc(100svh - 4rem);
  place-content: space-around;
  /* gap: 1rem; */
}

#categoryGallery .categoryObject {
  /* margin: 8rem 0 5rem; */
  height: 80%;
  margin: auto 0;
  /* padding-top: 3rem; */
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

#categoryGallery .categoryObject img {
  object-fit: contain;
  width: 100%;
  justify-self: center;
}
