#panel {
  --firstDescending: rgb(19, 45, 68);
  --secondDescending: rgb(44, 81, 113);
  --thirdDescending: rgb(92, 125, 153);
  --fourthDescending: rgb(173, 196, 217);
  min-height: 100svh;
  margin-left: clamp(10rem, 15vw, 20rem);
  padding: 2rem;
}

/* ------------------------------ header ------------------------------ */

#panel header {
  margin: 0 auto;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 1px rgb(180, 180, 180);
  background: white;
}

#panel header h1 {
  font-size: 4rem;
  font-size: 2.5rem;
  /* font-family: "Moteserrat", sans-serif; */
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  letter-spacing: 10px;
}

/* #panel header h2 {
  font-size: 1.5rem;
} */

#panel .clock {
  font-size: 3rem;
  font-family: "Poiret One", sans-serif;
}

/* ------------------------------ .statistics ------------------------------ */

#panel .statistics {
  width: 100%;
  height: auto;
  flex: 1;
  gap: 0.5rem;
}

#panel .statistics > div {
  gap: 0.5rem;
}

/* ------------------------------ .graphView ------------------------------ */

#panel .graphView {
  box-shadow: 0 0 10px 1px rgb(180, 180, 180);
  border-radius: 0.5rem;
  background: white;
  padding: 1rem 2rem;
  flex-shrink: 1;
}

.graphLegend h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.graphLegend {
  justify-content: center;
  justify-content: space-evenly;
  margin: auto 2rem auto 0;
  padding: 4rem 2rem;
  /* margin-right: 6rem; */
  gap: 0.5rem;
  /* box-shadow: inset 0 0 10px 1px rgb(180, 180, 180); */
  /* background: rgb(245,245,245); */
  /* border-radius: 0.5rem; */
}

.graphLegend .legendItem {
  align-items: center;
  gap: 1rem;
}

.legendItem .box {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.2rem;
}

.legendItem:nth-of-type(1) .box {
  background: var(--firstDescending);
}
.legendItem:nth-of-type(2) .box {
  background: var(--secondDescending);
}
.legendItem:nth-of-type(3) .box {
  background: var(--thirdDescending);
}
.legendItem:nth-of-type(4) .box {
  background: var(--fourthDescending);
}

.legendItem .name {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: grey;
}

/* ------------------------------ .mainStatistics ------------------------------ */

#panel .mainStatistics {
  flex: 1;
  box-shadow: 0 0 10px 1px rgb(180, 180, 180);
  border-radius: 0.5rem;
  background: white;
  padding: 1rem 2rem;
}

/* ------------------------------ .expandedStatistics ------------------------------ */

#panel .expandedStatistics {
  flex: 1;
  box-shadow: 0 0 10px 1px rgb(180, 180, 180);
  border-radius: 0.5rem;
  background: white;
  padding: 1rem 2rem;
  overflow-y: scroll;
}

/* ------------------------------  ------------------------------ */
/* ------------------------------  ------------------------------ */
/* ------------------------------  ------------------------------ */
/* ------------------------------  ------------------------------ */
/* ------------------------------  ------------------------------ */
