#logIn {
  min-height: 100svh;
  background-size: cover;
  background: url(/loginBackground.jpg) top/cover no-repeat;
  /* margin: 1.5rem 3rem 0; */
  /* margin: 1.5rem 1rem 0; */
  margin-top: 2.5rem;
}

#logIn .container {
  min-width: 60vw;
  /* margin-top: 2rem; */
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 0.1rem;
  /* padding-top: clamp(1rem, 5vh, 3rem); */
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

#logIn h1 {
  /* font-size: 4rem; */
  margin: 2rem 0 0;
}

#logIn form {
  min-height: 40svh;
  /* height: 100%; */
  align-items: center;
  justify-content: space-evenly;
}

#logIn .inputContainer {
  position: relative;
  align-items: center;
  margin-bottom: 1rem;
}

#logIn .inputContainer label {
  position: absolute;
  margin-right: 1rem;
  font-size: 0.85rem;
  /* top: 0; */
  /* left: 0.5rem; */
  left: -3.5rem;
  color: rgb(183, 183, 183);
}

#logIn .inputContainer input {
  width: clamp(15rem, 20vw, 25rem);
  padding: 0 3rem 0 1rem;
  border-radius: 0.1rem;
}

#logIn .inputContainer input:focus + label {
  color: white;
}

#logIn button.passwordToggle {
  position: absolute;
  right: 0.05rem;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  border: none;
  outline: none;
  background: white;
  border-radius: 0 0.7rem 0.7rem 0;
  border-radius: 0.1rem;
  border: 1px solid rgb(189, 189, 189);
  cursor: pointer;
  z-index: 10;
}

#logIn button.passwordToggle svg {
  place-content: center;
  display: grid;
  padding: 0.55rem;
  padding: 0.65rem;
  fill: rgb(69, 117, 139);
  fill: black;
  fill: rgb(183, 183, 183);
}
