@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

html {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

#paintings {
  min-height: 100vh;
  /* padding-top: 6rem; */
}

#paintings .gallery {
  /* overflow-y: scroll; */
  /* justify-content: space-evenly; */
  /* margin: 0 clamp(2rem, 15vw, 24rem); */
  align-items: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

#paintings .gallery .row {
  justify-content: space-evenly;
  height: fit-content;
  height: 100vh;
  align-items: center;
  /* align-items: flex-start; */
  /* scroll-snap-align: start; */
  /* scroll-snap-stop: always; */
}

#paintings .gallery .rowContainer {
  align-items: center;
  width: 100%;
  height: 100vh;
}

#paintings .gallery .row .paintingContainer {
  position: relative;
  height: fit-content;
  justify-content: center;
  overflow: hidden;
}

#paintings .gallery .row img {
  height: auto;
  max-height: 70vh;
  max-width: 28vw;
  object-fit: contain;
}

/* #paintings .gallery .row img {
  position: relative;
  object-fit: contain;
  height: auto;
  max-height: 70vh;
  width: 28vw;
} */

#paintings .gallery .row .paintingContainer::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255);
  transition: opacity 1s ease;
}

#paintings .gallery .row .paintingContainer:hover::after {
  /* background: rgba(255, 255, 255, 0.7); */
  opacity: 0.85;
  cursor: pointer;
}

#paintings .gallery .paintingContainer .description {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  bottom: 50%;
  transform: translateY(10rem);
  transform: translateY(100%);
  transition: transform 1s ease, opacity 1s ease;
  z-index: 2;
  opacity: 0;
}

#paintings .gallery .paintingContainer:hover .description {
  transform: translateY(50%);
  opacity: 1;
}

#paintings .gallery .paintingContainer .description h3 {
  font-family: "Poiret One", sans-serif;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-transform: capitalize;
}

#paintings .gallery .paintingContainer .description p {
  font-family: "Darker Grotesque", sans-serif;
  /* letter-spacing: 1px; */
  font-size: 1.3rem;
  line-height: 1rem;
  text-transform: lowercase;
}
