#about {
  scroll-snap-type: y mandatory;
}

.header {
  position: relative;
}

.header h1 {
  position: absolute;
  top: 25svh;
  left: clamp(5rem, 7vw, 15rem);
  margin-right: 40vw;
  margin-bottom: 8rem;
}

.background {
  width: 100%;
  height: 100svh;
  pointer-events: none;
}

.background img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0 2rem;
  object-fit: cover;
  object-position: top right;
  animation: blur 1s ease-out forwards;
}

@keyframes blur {
  from {
    filter: blur(8px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

.background .overlay {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255, 0.8) 30%,
    rgba(255, 255, 255, 0) 90%
  );
}

header .hook {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  color: black;
  text-decoration: none;
  transform: translateX(-50%);
}

header .hook svg {
  width: clamp(10rem, 20vw, 18rem);
  height: auto;
}

.snap {
  background: white;
  width: 100%;
  scroll-snap-stop: normal;
  scroll-snap-align: center;
}

.biography {
  min-height: 100svh;
  background: url(images/aboutMe/decoration.png) right bottom / contain
    no-repeat;
  background-size: clamp(60rem, 100vw, 80rem);
  padding: 2rem clamp(2rem, 5vw, 10rem);
  justify-content: center;
  width: 100%;
  gap: clamp(2rem, 5vw, 5rem);
}

.biography h2 {
  text-align: right;
}

.biography > div {
  gap: clamp(1rem, 5vw, 5rem);
}

.biography .overview {
  justify-content: space-around;
  gap: 0.5rem;
}

.biography .photo {
  width: clamp(15rem, 20vw, 25rem);
  border-radius: 0.5rem;
  height: 100%;
  margin-top: 1rem;
  /* margin: 0 2rem 2rem 0; */
}

.biography .signature {
  margin-top: 2rem;
  margin-left: auto;
  width: 25rem;
}

@media screen and (max-width: 768px) {
  .header h1 {
    writing-mode: vertical-rl;
    right: 2rem;
    left: auto;
    top: 0;
    margin-right: 0;
    padding: 6rem 1rem 0;
  }

  .header .hook {
    bottom: 0;
  }

  .biography h2 {
    text-align: left;
  }
  .biography .photo {
    display: none;
  }
  .biography .signature {
    width: clamp(8rem, 70vw, 20rem);
  }
}
