.subpageNavigation {
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0 6rem;
  height: 100vh;
  width: 100%;
}

.subpageNavigation button {
  background: none;
  border: none;
  padding: 0;
}

.wrapper {
  padding-bottom: 5vh;
  margin-top: 3rem;
  position: relative;
  height: 60vh;
  width: 25vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: all 450ms ease-in-out;
}

.wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 60vh;
  width: 25vw;
  transition: all 450ms ease-in-out;
  background: rgba(0, 0, 0, 0.2);
}

.wrapper:hover::after {
  background: rgb(0, 83, 127, 0.5);
}

.imageWrapper {
  height: 70vh;
  width: 25vw;
  overflow: hidden;

  transition: all 450ms ease-in-out;
}

.imageWrapper::after {
  position: absolute;
  content: "";
  bottom: -5%;
  left: 0;
  width: 105%;
  height: 65%;
  z-index: 5;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255, 0.75) 60%,
    rgb(255, 255, 255)
  );
}

.image {
  height: 70vh;
  width: 25vw;
  object-fit: cover;
  object-position: center;
  transition: all 450ms ease-in-out;
}

.headerWrapper {
  position: absolute;
  height: fit-content;
  width: 25vw;
  transition: all 450ms ease-in-out;
  overflow: hidden;
  bottom: 0;
  padding-top: 70vh;
  right: 0.5rem;
  z-index: 5;
  pointer-events: none;
}

.headerWrapper h1,
.headerWrapper span {
  font-size: 3.6rem;
  font-family: "Poiret One", sans-serif;
  color: rgb(45, 45, 45);
  text-transform: uppercase;
  text-align: right;
  text-align: start;
  word-break: break-all;
  transition: all 450ms ease-in-out;
  padding: 0 1rem;
}

.wrapper:hover h1 {
  transform: scale(0.8) translate(5rem, -50rem);
  transform: scale(0.8) translateY(-50rem);
  transform: scale(0.8) translate(-3rem, -100rem);
}

.textWrapper {
  position: absolute;
  height: fit-content;
  width: 25vw;
  right: 1rem;
  transition: all 450ms ease-in-out;
  overflow: hidden;
  bottom: -50rem;
  z-index: 5;
  pointer-events: none;
}

.textWrapper h2,
.textWrapper p {
  word-break: keep-all;
  text-indent: 0;
  text-align: right;
  color: white;
}

.wrapper:hover,
.wrapper:hover::after,
.wrapper:hover .imageWrapper {
  height: 60vh;
  height: 80vh;
}

.wrapper:hover .textWrapper {
  bottom: 50%;
}

.wrapper:hover img {
  transform: scale(2);
}

.wrapper:hover {
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .headerWrapper h1,
  .headerWrapper span {
    font-size: 6rem;
  }
}

@media screen and (max-width: 1023px) {
  .headerWrapper h1,
  .headerWrapper span {
    font-size: 2.8rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .subpageNavigation {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
  .wrapper {
    height: 60vh;
    width: 70vw;
  }
  .wrapper::after {
    height: 60vh;
    width: 70vw;
  }
  .imageWrapper {
    height: 60vh;
    width: 70vw;
  }
  .image {
    height: 60vh;
    width: 70vw;
  }
  .headerWrapper {
    width: 70vw;
  }
  .textWrapper {
    width: 70vw;
  }
}
