.header {
  height: 100svh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-around;
  padding: 3rem 0 0;
  overflow: hidden;
}

.background {
  position: absolute;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  top: 0;
  overflow: hidden;
  z-index: -1;
  gap: 1rem;
}

.background .container {
  height: auto;
  margin: 0 auto;
  position: relative;
}

.background .upper {
  height: 70vh;
  width: clamp(10rem, 20vw, 60rem);
  margin-bottom: auto;
  margin-top: auto;
}

.background .lower {
  height: 60vh;
  width: clamp(30rem, 40vw, 60rem);
  margin-bottom: -5%;
  margin-top: auto;
}

.background img {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  object-fit: cover;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 5;
}

.background .upper .overlay {
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.background .lower .overlay {
  top: 0;
  background: linear-gradient(rgba(255, 255, 255), rgb(255, 255, 255, 0));
}

.content {
  gap: clamp(1rem, 8vh, 10rem);
  width: clamp(20rem, 50%, 70rem);
  margin-top: clamp(5rem, 20vh, 20rem);
  margin-bottom: auto;
  margin: clamp(5rem, 20vh, 20rem) 1.5rem auto 1.5rem;
}

.heading {
  text-align: end;
  margin-right: auto;
}

.heading h2 {
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: black;
}

.info {
  margin-left: auto;
  gap: 0.5rem;
}

.info > div {
  align-items: center;
}

.info p {
  letter-spacing: 3px;
  color: black;
}

.info svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.8rem;
  flex-shrink: 0;
}
