.header {
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-size: cover;
  backdrop-filter: blur(5px);
  background: rgb(30, 30, 30);
}

.header::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 45%;
  z-index: 5;
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30) 5%,
    rgb(30, 30, 30, 0) 100%
  );
  animation: slideDown 2s ease-out forwards;
}

@keyframes slideDown {
  from {
    height: 250%;
  }
  to {
    height: 45%;
  }
}

.header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.content {
  background: rgb(30, 30, 30);
  min-height: 100svh;
  padding: 4rem 0 6rem;
}

.content h1 {
  text-align: end;
  width: 100%;
  max-width: 100rem;
  margin: 1rem auto;
  color: white;
  padding: 0 4rem 2rem;
}

.heading {
  justify-content: space-evenly;
  align-items: center;
}

.heading h2 {
  width: 100%;
  max-width: 120rem;
  padding: 0 3rem;
  margin: 1rem auto;
}

.video {
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
  width: 80%;
  gap: clamp(1rem, 5vh, 3rem);
}

.video video {
  width: 100%;
  max-width: 90vw;
  height: auto;
  max-height: 80vh;
}

.text {
  padding-bottom: 4rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.text h3 {
  color: white;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 4rem;
    min-height: 45svh;
    height: 45svh;
  }
  .text {
    width: 90%;
  }
}
