html {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

#gallery {
  min-height: 100svh;
  width: 100%;
}

.nothingFound {
  padding: 10rem 2rem 6rem;
  gap: 1rem;
}

.nothingFound a {
  text-decoration: none;
}

.nothingFound button {
  width: fit-content;
  padding: 1rem clamp(3rem, 6vw, 6rem);
  gap: 1rem;
  align-items: center;
  background: transparent;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-auto-rows: 100svh;
  grid-auto-rows: calc(100svh - 4rem);
  place-content: space-around;
  margin-top: 2rem;
  align-items: center;
  padding: 5rem clamp(2rem, 4vw, 4rem);
}

.objectContainer {
  scroll-snap-align: center;
  scroll-snap-stop: normal;
  padding-top: 3rem;
}

.categoryObject {
  height: 100%;
  position: relative;
  overflow: hidden;
  place-content: center;
}

.categoryObject img {
  position: relative;
  object-fit: contain;
  justify-self: center;
  height: 100%;
  width: 100%;
  max-height: 80vh;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 1;
}

.categoryObject img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 98%;
  filter: blur(1px) brightness(0.2);
  opacity: 0.8;
  z-index: -1;
  object-fit: cover;
}

.categoryObject .data {
  height: fit-content;
}

.categoryObject .data h3 {
  color: var(--dark);
  font-size: 1.2em;
  letter-spacing: 2px;
}

.categoryObject .data span {
  color: var(--dark);
  font-size: 0.8em;
  padding: 0.4rem;
}

@media screen and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 10vh, 10rem);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 clamp(1rem, 2vw, 2rem);
  }
}
