.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.background img {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  object-fit: cover;
  object-position: top right;
  z-index: -1;
}

.content {
  padding: 2rem clamp(2rem, 10vw, 10rem);
  width: fit-content;
  gap: 2rem;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.title h2 {
  color: black;
  font-size: 1rem;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.content a {
  text-decoration: none;
}

.content button {
  background: transparent;
  gap: 1rem;
}

/* .background {
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin: 1rem;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  width: auto;
  min-height: 40svh;
  background-color: white;
  padding: 2rem clamp(1rem, 5vw, 5rem);
  justify-content: space-around;
  border-radius: 0.1rem;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.container a {
  text-decoration: none;
}

.container button {
  width: fit-content;
  padding: 1rem clamp(3rem, 6vw, 6rem);
  gap: 1rem;
  align-items: center;
  background: transparent;
}

@media screen and (max-width: 576px) {
  .container h1 {
    font-size: 3rem;
  }
  .container {
    margin: 0 2rem;
    padding: 2rem clamp(1rem, 10vw, 10rem);
  }
  .container button {
    width: auto;
    letter-spacing: 3px;
    white-space: nowrap;
  }
} */
