#shop {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.header {
  position: relative;
  justify-content: center;
  gap: clamp(1rem, 3vw, 2rem);
  width: 100%;
  padding-left: clamp(1rem, 4vw, 4rem);
  padding-right: clamp(2rem, 8vw, 8rem);
  min-height: 100vh;
  height: auto;
  overflow: visible;
}

.header .content {
  width: 75%;
  padding: 2rem 0.5rem 2rem;
}

.background {
  position: absolute;
  z-index: -5;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  overflow: hidden;
}

.background img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.background .overlay {
  height: 100%;
  width: 35vw;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 15%,
    rgb(255, 255, 255, 0.8) 35%,
    rgb(255, 255, 255, 0) 90%
  );
}

.heading {
  gap: 1rem;
  padding: 0rem 1rem 2rem;
}

.gallery {
  background-color: white;
  transition: height 0.5s ease;
  padding: 3rem 2rem;
}

.tabs {
  padding-bottom: 0;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.tabs > div {
  padding-top: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.tabs button {
  font-family: "Poiret One", sans-serif;
  font-weight: 700;
  background: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  flex: 1;
  width: 100%;
  transition: all 0.3s ease;
}

.tabs button.active {
  color: rgb(51, 108, 134);
  background-color: rgb(51 108 134/ 0.1);
  letter-spacing: 6px;
  border: none;
}

.container {
  margin: 2rem 0;
}

.card {
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  justify-content: center;
  height: 100svh;
  width: 100%;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
}

.imageContainer {
  position: relative;
  height: 60vh;
  max-width: 90%;
  margin-top: 2rem;
}

.imageContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 105%;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255, 0.95) 15%,
    rgb(255, 255, 255, 0.6) 75%
  );
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.imageContainer:hover::after {
  visibility: visible;
  opacity: 1;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
  filter: none;
}

.imageContainer .info {
  position: absolute;
  z-index: 5;
  left: 2.5rem;
  top: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.imageContainer:hover .info {
  opacity: 1;
  top: 2rem;
  transform: translateY(0);
}

.info .title {
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 1rem;
  color: black;
}

.info .title span {
  position: absolute;
  font-family: "Poiret One", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-style: italic;
  color: black;
}

.info .title span:first-of-type {
  padding-right: 10px;
  top: 0;
}
.info .title span:last-of-type {
  padding-left: 5px;
  top: 0;
}

.info .overview {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0;
  color: var(--dark);
}

.sold {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 0.9);
  display: grid;
  place-content: center;
}

.sold h4 {
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 6px;
  font-size: clamp(2rem, 14vw, 14rem);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 100%;
    padding-left: clamp(1rem, 3vw, 2rem);
    padding-right: clamp(1rem, 3vw, 2rem);
    gap: 1rem;
  }

  .background {
    width: 60vw;
    right: 1rem;
  }

  .background .overlay {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 100%;
  }
  .header .content h1 {
    margin-bottom: 2rem;
  }

  .background {
    width: 80vw;
    right: 1rem;
  }

  .background .overlay {
    width: 100%;
  }

  .card {
    height: 70vh;
  }

  .imageContainer {
    position: relative;
    height: 50vh;
    max-width: 100%;
    margin-top: 2rem;
    overflow: hidden;
  }

  .imageContainer .info {
    left: 1rem;
  }

  .info .title {
    font-size: 1.5rem;
  }

  .info .overview {
    font-size: 0.8rem;
  }
}
