nav#desktop {
  align-items: center;
}

nav#desktop .navLogo button {
  padding: 0;
  border: none;
  background: none;
}

nav#desktop .navLogo button svg {
  fill: var(--dark);
  transition: fill 0.4s ease;
}

nav#desktop .navLogo button:hover svg {
  fill: var(--accent-secondary);
}

nav#desktop .menuItems {
  align-items: center;
}

nav#desktop .menuItems button {
  position: relative;
  padding: 1rem clamp(0.5rem, 1vw, 1.5rem);
  background: none;
  border: none;
  white-space: nowrap;
  word-break: keep-all;
  color: var(--dark);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
  font-weight: 400;

  transition: color 0.6s ease;
}

nav#desktop .menuItems button:hover {
  color: var(--accent-secondary);
}

nav#desktop .menuItem button::after {
  position: absolute;
  content: "";
  bottom: 0.2rem;
  left: 0;
  background-color: var(--dark);
  height: 1px;
  width: 0;
  transition: width 1s ease, background-color 0.6s ease;
}

nav#desktop .menuItem button:hover::after {
  width: 100%;
  background-color: var(--accent-secondary);
}

nav#desktop .menuItem .active button {
  color: var(--accent-primary);

  font-weight: 600;
}

nav#desktop .menuItem .active button:hover {
  color: var(--accent-primary-light);
}

nav#desktop .menuItem .active button::after {
  background-color: var(--accent-primary);
}

nav#desktop .menuItem .active button:hover::after {
  background-color: var(--accent-primary-light);
}

nav#desktop .socialIcons {
  justify-content: center;
  align-items: center;
}

nav#desktop .socialIcons button {
  background: none;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  transition: color 0.4s ease;
  padding: 0.5rem;
  margin-left: 1rem;
}

nav#desktop .socialIcons button svg {
  transition: color 0.4s ease;
}

nav#desktop .socialIcons button:hover svg {
  color: var(--accent-secondary);
}

nav#desktop .menuItem {
  position: relative;
}

nav#desktop .dropdownMenu {
  position: absolute;
  background: white;
  text-align: start;
  opacity: 0;
  display: none;
  min-width: 100%;
  padding: 1rem 2rem;
  left: 50%;
  transform: translateX(-50%);
}
nav#desktop .menuItem:hover .dropdownMenu,
nav#desktop .dropdownMenu.open {
  opacity: 1;
  display: block;
  height: auto;
  z-index: 10;
}

nav#desktop .dropdownItem button {
  padding: 1rem 0.5rem;
  background: none;
  border: none;
  white-space: nowrap;
  word-break: keep-all;
  width: 100%;
  text-align: start;
}