/* --------------------------- navigation --------------------------- */

nav#desktop .navigation {
  align-items: center;
}

/* ------------- items -------------- */

nav#desktop .navigation .menuItems {
  gap: 1rem;
  gap: 0;
  justify-content: space-evenly;
  margin-right: 4rem;
}

/* ------------- icons -------------- */

nav#desktop .navigation .socialIcons {
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem 0 2rem;
}

nav#desktop .navigation .socialIcons #instagramIcon {
  width: 20px;
  height: 20px;
  transition: fill 0.5s cubic-bezier(0.18, 0, 0.21, 0.21);
}
nav#desktop .navigation .socialIcons #gokIcon {
  width: 32px;
  height: 32px;
  transition: fill 1s;
}

nav#desktop .navigation .socialIcons a:hover #instagramIcon,
nav#desktop .navigation .socialIcons a:hover #gokIcon {
  fill: rgb(5, 75, 103);
  fill: white;
  fill: rgb(177, 177, 177);
  z-index: 10;
}

nav#desktop .navigation .socialIcons a {
  position: relative;
  padding: 2px;
  border-radius: 10rem;
  transition: transform 0.5s ease-in;
}

/* --------------------------- menuItem --------------------------- */

nav#desktop .menuItem {
  position: relative;
}

nav#desktop .menuItem a {
  border-radius: 0;
  text-decoration: none;
  font-size: 1rem;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  border: none;
  padding: 1rem 1.5rem;
  width: 100%;
  transition: color 0.3s ease;
  white-space: nowrap;
  text-wrap: nowrap;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
  display: inline-block;
}

nav#desktop .menuItem a:hover {
  color: rgb(177, 177, 177);
}

nav#desktop .menuItem a.active {
  color: rgb(58, 155, 190);
  font-weight: 600;
}

nav#desktop .menuItem a.active:hover {
  color: rgb(58, 155, 190);
}

nav#desktop .menuItem > a::after,
nav#desktop .menuItem > div > a::after {
  position: absolute;
  content: "";
  bottom: 0.2rem;
  left: 0;
  background-color: rgb(177, 177, 177);
  height: 1px;
  width: 0;
  transition: width 1s ease, background-color 0.6s ease;
}

nav#desktop .menuItem a:hover::after {
  width: 100%;
}

nav#desktop .menuItem a.active:hover::after {
  background-color: rgb(58, 155, 190);
}

/* --------------------------- dropdownItem --------------------------- */

nav#desktop .menuItem .dropdownMenu {
  width: 140%;
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: -20%;
  height: 0;
  z-index: 10;
  transition: height 0.5s ease-in-out;
  border-radius: 0.2rem;
}

nav#desktop .dropdownMenu a.dropdownItem:first-of-type {
  padding-top: 2rem;
}

nav#desktop .dropdownMenu a.dropdownItem:last-of-type {
  padding-bottom: 2rem;
}

nav#desktop .menuItem:hover .dropdownMenu {
  height: max-content;
}

nav#desktop .dropdownMenu a.dropdownItem {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
  padding: 1rem 1.5rem;
  display: block;
  transition: color 0.3s ease;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
}

nav#desktop .dropdownMenu a.dropdownItem:hover {
  color: rgb(177, 177, 177);
}

nav#desktop .menuItem a.active + .dropdownMenu a.dropdownItem:hover {
  color: rgb(58, 155, 190);
}

/* --------------------------- menuItem & dropdownItem --------------------------- */

nav#desktop .menuItem a,
nav#desktop .dropdownItem a {
  height: 100%;
  cursor: pointer;
}

nav#desktop .menuItem:hover a.dropdownItem {
  color: black;
}

nav#desktop .menuItem:hover a.dropdownItem:hover {
  color: rgb(177, 177, 177);
}
