nav#mobile .navigation {
  position: fixed;
  visibility: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.95);
  transition: opacity 0.5s ease;
}

nav#mobile.open .navigation {
  visibility: visible;
  opacity: 1;
}

nav#mobile .backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

nav#mobile.open .backgroundVideo {
  opacity: 1;
  visibility: visible;
}

nav#mobile .hamburgerIcon {
  position: relative;
  width: 2.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

nav#mobile .hamburgerIcon button {
  position: absolute;
  z-index: 20;
  height: auto;
  width: 2.5rem;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  background: none;
}

nav#mobile .hamburgerIcon button span {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.25rem;
  border-radius: 1rem;
  top: 0;
  left: 0;
  background: black;
  transform: translate(0, -50%);
  transition: all 0.3s cubic-bezier(0.73, 0.06, 0.57, 1.01);
}

nav#mobile .hamburgerIcon button span:nth-of-type(1) {
  top: 25%;
}
nav#mobile .hamburgerIcon button span:nth-of-type(2) {
  top: 50%;
}
nav#mobile .hamburgerIcon button span:nth-of-type(3) {
  top: 75%;
}

nav#mobile.open .hamburgerIcon button span {
  width: 0.25rem;
  transform: rotateZ(-90deg) translate(0, -50%) scale(2.5);
  top: 48%;
  background: white;
}

nav#mobile.open .hamburgerIcon button span:nth-of-type(1) {
  left: 11%;
}
nav#mobile.open .hamburgerIcon button span:nth-of-type(2) {
  left: 50%;
}
nav#mobile.open .hamburgerIcon button span:nth-of-type(3) {
  left: 87%;
}

nav#mobile .navLogo {
  opacity: 1;
  transition: opacity 0.1s ease;
}

nav#mobile.open .navLogo {
  pointer-events: none;
  opacity: 0;
}

nav#mobile.open .menuLogo #logo {
  fill: white;
  width: clamp(10rem, 50vw, 25rem);
  transition: fill 0.3s ease;
}

nav#mobile.open .menuLogo #logo:hover,
nav#mobile.open .menuLogo #logo:focus {
  fill: var(--accent-primary);
}

nav#mobile .menuItems {
  position: sticky;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

nav#mobile .dropdownMenu {
  transform: scale(0);
  opacity: 0;
  height: 0;
  display: none;
}

nav#mobile .dropdownMenu.open {
  transform: scale(1);
  opacity: 1;
  display: flex;
  height: auto;
}

nav#mobile .dropdownIcon {
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

nav#mobile .open .dropdownIcon {
  transform: rotate(45deg);
}

nav#mobile .menuItems a,
nav#mobile .socialIcons a {
  text-decoration: none;
}

nav#mobile .menuItem button,
nav#mobile .menuItem button span,
nav#mobile .dropdownItem button {
  width: 100%;
  flex: 1;
  letter-spacing: 6px;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  align-items: center;
  gap: 1rem;
}

nav#mobile .socialIcons {
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

nav#mobile .socialIcons a {
  flex: 1;
  width: 100%;
}

nav#mobile .socialIcons a span {
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  letter-spacing: 5px;
  color: white;
  transition: color 0.3s ease;
}

nav#mobile .socialIcons a span:hover,
nav#mobile .socialIcons a span:focus {
  color: var(--accent-primary);
}

nav#mobile .socialIcons a span nav#mobile .socialIcons a svg {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  nav#mobile .hamburgerIcon,
  nav#mobile .hamburgerIcon button {
    width: 2rem;
  }
  nav#mobile .hamburgerIcon button span {
    height: 0.15rem;
    border-radius: 1rem;
  }
  nav#mobile.open .hamburgerIcon button span {
    width: 0.15rem;
    top: 48%;
    background: white;
  }
  nav#mobile .menuItem button,
  nav#mobile .menuItem button span,
  nav#mobile .dropdownItem button {
    letter-spacing: 4px;
  }
}
