nav {
  justify-content: space-between;
  align-items: center;
  min-height: 3vw;
  width: 100%;
  padding: 1rem 2.8rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: padding 0.5s ease;
}

nav.scrolled {
  position: fixed;
  padding: 0.2rem 2.8rem;
}

nav.homePath {
  padding: 1.5rem 6rem;
}

nav .navLogo {
  position: relative;
  background: none;
  border: none;
}

nav .navLogo #logo {
  position: relative;
  height: 3.5rem;
  height: 3rem;
  width: auto;
  z-index: 15;
  transition: height 0.5s ease;
}

nav.homePath .navLogo #logo {
  height: 3.5rem;
  height: 3rem;
}

@media screen and (max-width: 1300px) {
  nav {
    padding: 1rem 1.5rem;
  }
  nav.scrolled {
    padding: 0.2rem 1.5rem;
  }
  nav.homePath {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  nav .navLogo #logo {
    height: 2rem;
    margin-top: 0.2rem;
  }
  nav.homePath .navLogo #logo {
    height: 2rem;
  }
}
