#contact {
  height: 100svh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-around;
  padding: 3rem clamp(2rem, 8vw, 10rem) 0;
  padding: 3rem 0 0;
  overflow: hidden;
}

#contact > div {
  position: relative;
}

#contact .backgroundUpper img {
  position: relative;
  width: auto;
  max-width: 30vw;
  height: 70svh;
  object-fit: cover;
  opacity: 0.6;
  /* max-height: 70svh; */
  /* height: 90svh; */
}

#contact .backgroundLower {
  position: absolute;
  top: 50%;
  left: 110%;
  width: 45vw;
  /* left: 110%; */
}

#contact .backgroundLower img {
  height: 100%;
  width: 100%;
  background-size: 100%;
  object-fit: cover;
  z-index: -1;
}

#contact .overlay {
  position: absolute;
  left: 0;
  width: 100%;
  /* height: 45%; */
  height: 30%;
  z-index: 5;
  /* opacity: 0; */
}

#contact .backgroundUpper .overlay {
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

#contact .backgroundLower .overlay {
  top: 0;
  background: linear-gradient(rgba(255, 255, 255), rgb(255, 255, 255, 0));
}

/* #contact .imageDuplicate {
  position: absolute;
  background: url(/contactBackground.jpg);
  width: 100%;
  height: 100%;
  width: 45vw;
  background-size: 100%;
  top: 50%;
  left: 110%;
  object-fit: cover;
  z-index: -1;
} */

/* #contact .imageDuplicate::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  height: 50%;
  z-index: 5;
  background: linear-gradient(rgba(255, 255, 255), rgb(255, 255, 255, 0));
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 90%
  );
} */

#contact h1 {
  position: absolute;
  top: 2rem;
  left: clamp(-10rem, -5vw, -2rem);
  left: clamp(-8rem, -30%, -2rem);
  left: 0;
  right: clamp(-15rem, -40%, -5rem);
  padding: 2rem;
  text-align: end;
  /* font-family: "Poiret One", sans-serif;
  color: rgb(48, 82, 102); */

  /* color: rgb(73, 128, 160); */
  /* font-family: "Poiret One", sans-serif; */
  /* left: -30%; */
  /* font-family: "IM Fell Great Primer", serif;
  font-style: italic;
  color: rgb(23, 23, 24);
  text-transform: uppercase;
  font-size: 5rem; */
}

#contact .contactInformations {
  justify-content: space-around;
  font-size: 1.1rem;
  align-items: start;
  width: auto;
  margin-bottom: 15%;
  height: clamp(10rem, 10%, 30rem);
  /* align-self: center; */
}

#contact .contactInformations > div {
  align-items: center;
}

#contact .contactInformations p {
  /* font-family: "Montserrat", sans-serif; */
  /* font-size: 1em; */
  letter-spacing: 3px;
  color: black;
}

#contact .contactInformations #phoneIcon,
#contact .contactInformations #gokIcon,
#contact .contactInformations #instagramIcon,
#contact .contactInformations #mailIcon {
  width: 30px;
  height: 30px;
  /* width: 35px; */
  /* height: 35px; */
  /* fill: black; */
  margin-right: 2rem;
}

#contact .contactInformations #instagramIcon {
  padding: 0.1rem;
}
