#didactics header {
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(30, 30, 30);
  position: relative;
}

#didactics header::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 30%;
  height: 75%;
  z-index: 5;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30) 5%,
    rgb(30, 30, 30, 0) 100%
  );
}

#didactics header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

#didactics .content {
  min-height: 100svh;
  background: rgb(30, 30, 30);
  padding: 8rem 0 6rem;
}

#didactics h1 {
  text-align: end;
  padding: 0 5rem 5rem 0;
  color: white;
}

#didactics .heading {
  justify-content: space-evenly;
  align-items: center;
}

#didactics .heading h2 {
  width: 50vw;
}

#didactics .heading video {
  width: 40vw;
  height: auto;
}

#didactics .text {
  padding: 6rem 0;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

#didactics .text h3 {
  color: white;
  padding-bottom: 3rem;
}

#didactics .text p {
  padding-bottom: 1rem;
}

.swiper {
  /* border-radius: 1rem; */
  width: 90%;
  height: 55vh;

  --swiper-pagination-color: var(--accent-secondary);
  --swiper-pagination-bottom: 2rem;
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-inactive-color: var(--accent-secondary);
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
}

/* .swiper::after {
  position: absolute;
  content: "";
  height: 60%;
  width: 100%;
  background: linear-gradient(rgba(30, 30, 30, 0) 0%, rgb(30, 30, 30) 100%);
  bottom: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
} */

.swiper .swiper-pagination {
  z-index: 10;
}

.swiper .swiper-pagination-bullet {
  border: 1px solid white;
  background: grey;
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet-active {
  background: rgb(125, 175, 184);
  background: rgb(51, 108, 134);
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 3rem;
  --swiper-navigation-top-offset: 0%;
  margin-top: 0;
  width: var(--swiper-navigation-size);
  height: 100%;
  transition: all 0.5s ease;
}

.swiper-button-prev {
  left: 0;
  /* background: linear-gradient(90deg, rgb(30, 30, 30) , rgba(30, 30, 30, 0)); */
}
.swiper-button-prev::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 10vw;
  background: linear-gradient(
    90deg,
    rgb(30, 30, 30) 0%,
    rgba(30, 30, 30, 0) 100%
  );
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-next::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 10vw;
  background: linear-gradient(
    90deg,
    rgba(30, 30, 30, 0) 0%,
    rgb(30, 30, 30) 100%
  );
  top: 0;
  right: 0;
  z-index: 5;
  pointer-events: none;
}

.swiper-button-prev:hover::after {
  transform: scale(1.5) translateX(0.5rem);
  color: rgb(125, 175, 184);
}
.swiper-button-next:hover::after {
  transform: scale(1.5) translateX(-0.5rem);
  color: rgb(125, 175, 184);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: "IM Fell Great Primer", serif;
  color: white;
  font-size: var(--swiper-navigation-size);
  margin-bottom: 0.7rem;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.swiper-button-prev::after {
  content: "<";
  margin-right: 0;
}

.swiper-button-next::after {
  content: ">";
  margin-left: 0;
}

.swiper .swiper-slide .slideContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.1rem;
  position: absolute;
  z-index: -1;
}

.swiper .swiper-slide .slideContainer .content {
  position: absolute;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
  left: clamp(1rem, 3vw, 3rem);
}

.swiper .swiper-slide .slideContainer .content h1 {
  letter-spacing: 0px;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: var(--light);
  line-height: 5rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.swiper .swiper-slide .slideContainer .content p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  color: var(--light);
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  #didactics .content {
    padding: 3rem 2rem 6rem;
  }
  #didactics .content h1 {
    font-size: 4.5rem;
    padding: 2rem 3rem 4rem;
  }
  #didactics .heading {
    gap: 2rem;
    padding: 0 1rem;
  }
  #didactics .heading h2 {
    font-size: 1.7rem;
  }
  #didactics .text {
    padding: 4rem 0;
  }
  #didactics .text {
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  #didactics header {
    padding: 4.5rem 0 0;
    height: auto;
  }
  #didactics .content h1 {
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
  }
  #didactics .heading {
    flex-direction: column;
  }
  #didactics .heading h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  #didactics .heading video {
    width: 65vw;
  }
}
