.modal {
  height: 100svh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
}

.modalContent {
  height: 85vh;
  width: auto;
  max-width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48.5%);
}

.modalContent img {
  object-fit: contain;
  height: 100%;
  width: auto;
  max-width: 80vw;
}

.modalContent button {
  font-family: "IM Fell Great Primer", serif;
}

.modalContent .close {
  background: white;
  border: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.modalContent .close span {
  position: absolute;
  top: 0;
  left: 0.6rem;
  line-height: 3rem;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.15);
}

.modalContent .close span,
.modalContent .prev span,
.modalContent .next span {
  transition: all 0.4s ease;
}

.modalContent .close:hover span,
.modalContent .prev:hover span,
.modalContent .next:hover span {
  color: var(--accent-primary);
  transform: scale(1.05);
}

.modalContent .prev,
.modalContent .next {
  position: absolute;
  top: 50%;
  background: transparent;
  border: transparent;
  width: 5rem;
  height: 5rem;
  padding: 0;
  transform: translateY(-50%);
}
.modalContent .prev {
  left: clamp(-7rem, -20%, -20rem);
}
.modalContent .next {
  right: clamp(-7rem, -20%, -20rem);
}

.modalContent .prev span,
.modalContent .next span {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  line-height: 3.5rem;
  font-size: 7rem;
  font-family: "IM Fell Great Primer", serif;
}

@media screen and (max-width: 1200px) {
  .modalContent .prev,
  .modalContent .next {
    width: 3.5rem;
    height: 3.5rem;
  }
  .modalContent .prev span,
  .modalContent .next span {
    width: 3.5rem;
    line-height: 3.5rem;
    font-size: 4rem;
    top: -0.5rem;
  }
  .modalContent .prev {
    left: -7vw;
  }
  .modalContent .next {
    right: -7vw;
  }
}

@media screen and (max-width: 768px) {
  .modalContent {
    max-width: 95vw;
    transform: translate(-50%, -45%);
  }
  .modalContent .close {
    width: 2rem;
    height: 2rem;
    top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  }
  .modalContent .close span {
    color: rgb(40, 40, 40);
    font-size: 3rem;
    line-height: 2rem;
    left: 0.1rem;
  }
  .modalContent .prev,
  .modalContent .next {
    width: 3rem;
    height: 3rem;
  }
  .modalContent .prev span,
  .modalContent .next span {
    width: 3rem;
    line-height: 2.5rem;
    font-size: 4rem;
    top: -0.1rem;
    color: white;
    text-shadow: 0 0 10px black;
  }
  .modalContent .prev {
    left: 0.2rem;
  }
  .modalContent .next {
    right: 0.2rem;
  }
}

@media screen and (max-height: 992px) {
  .modalContent {
    transform: translate(-50%, -47%);
  }
  .modalContent .close {
    width: 2rem;
    height: 2rem;
    top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  }
  .modalContent .close span {
    color: rgb(40, 40, 40);
    font-size: 3rem;
    line-height: 2rem;
    left: 0.1rem;
  }
}

@media screen and (max-height: 568px) {
  .modalContent {
    transform: translate(-50%, -45%);
  }
}
