*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

header {
  min-height: 100svh;
  height: auto;
  width: 100%;
  padding-top: 5rem;
}

h1 {
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: italic;
  font-size: 5rem;
  color: rgb(23, 23, 24);
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}

h2,
h3 {
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  color: rgb(125, 175, 184);
  padding: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.95rem;
  color: rgb(135, 135, 135);
  padding: 0.5rem 0;
}

span {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.95rem;
  color: rgb(135, 135, 135);
}

button {
  font-family: "Montserrat", sans-serif;
  color: grey;
  /* border-radius: 5rem; */
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  border: 1px solid rgb(189, 189, 189);
  cursor: pointer;
  letter-spacing: 4px;
}
button:hover {
  transition: background 0.2s ease;
  transition: color 0.2s ease, font-weight 0.2s ease;
  color: rgb(51, 108, 134);
}

input {
  height: 2.5rem;
  width: auto;
  padding: 0 3rem 0 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  border: 1px solid rgb(189, 189, 189);
  outline: none;
  border-radius: 0.7rem;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.gridCenter {
  display: grid;
  place-content: center;
}

.loadPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  transition: opacity 0.5s ease;
  z-index: 5;
}

:root {
  --accent-primary: rgb(51, 108, 134);
  --accent-primary-light: rgb(58, 155, 190);
  --accent-secondary: rgb(177, 177, 177);
  --light: rgb(241, 241, 241);
  --dark: rgb(29, 29, 29);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}
