footer {
  height: 10vh;
  width: 100%;
  background-color: rgb(7, 7, 7);
  justify-content: space-evenly;
  align-items: center;
}

footer * {
  font-family: "Montserrat", sans-serif;
}

footer .copyright {
  align-items: center;
}

footer .copyright #logo {
  height: 5vh;
  width: auto;
  fill: rgb(110, 110, 110);
  margin-right: 2rem;
}

footer .copyright p {
  font-size: 0.8rem;
  color: rgb(110, 110, 110);
}

footer .footerNavigation button {
  color: rgb(110, 110, 110);
  background: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 1s ease;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

footer .footerNavigation button:hover {
  color: white;
}

/* --------------------------- media queries --------------------------- */

@media screen and (max-width: 1300px) {
  footer .copyright {
    flex-direction: column;
    gap: 0.5rem;
  }
  footer .copyright #logo {
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  footer {
    height: fit-content;
    padding: 2rem 1rem;
    justify-content: space-between;
  }
  footer .copyright #logo {
    width: 40vw;
    max-height: 15rem;
    height: 20vh;
  }
  footer .footerNavigation {
    flex-direction: column;
    text-align: end;
  }
  footer .footerNavigation button {
    font-size: 1.1rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 576px) {
  footer {
    padding: 2rem 3rem;
    flex-direction: column-reverse;
  }
  footer .copyright #logo {
    width: 100%;
    max-height: 5rem;
  }
  footer .footerNavigation {
    text-align: center;
    margin-bottom: 2rem;
  }
}
