footer {
  height: 10vh;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(7, 7, 7);
  justify-content: space-evenly;
  align-items: center;
}

footer * {
  font-family: "Montserrat", sans-serif;
}

footer .copyright {
  align-items: start;
  justify-content: start;
}

footer .copyright #logo {
  max-height: 5vh;
  height: auto;
  width: clamp(10rem, 15vw, 15rem);
  fill: rgb(110, 110, 110);
  margin-right: 1rem;
}

footer .copyright p {
  padding: 0 0.8rem;
  font-size: 0.8rem;
  color: rgb(110, 110, 110);
}

footer .footerNavigation button,
footer .copyright button {
  color: rgb(110, 110, 110);
  background: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color 1s ease;
  font-size: 0.8rem;
  letter-spacing: 1px;
  word-break: keep-all;
  white-space: nowrap;
}

footer .footerNavigation button:hover,
footer .copyright button:hover {
  color: white;
}

@media screen and (max-width: 1023px) {
  footer {
    height: fit-content;
    padding: 2rem 1rem;
    justify-content: space-between;
  }
  footer .copyright {
    flex-direction: column;
    gap: 0.5rem;
  }
  footer .copyright #logo {
    margin: 0;
  }
  footer .footerNavigation {
    flex-direction: column;
    text-align: end;
  }
  footer .footerNavigation button {
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 1rem 0.5rem;
  }
  footer .copyright #logo {
    width: clamp(8rem, 12vw, 12rem);
  }
}
