.swiper {
  width: 95%;
  height: 55vh;
}

.swiper .swiper-pagination {
  padding: 0.5rem 0;
}

.swiper .swiper-pagination-bullet {
  border: 3px solid var(--light);
  background: var(--light);

  --swiper-pagination-bullet-size: 0.6rem;
  --swiper-pagination-bullet-horizontal-gap: clamp(0.5rem, 1vw, 1.5rem);
}

.swiper .swiper-pagination-bullet-active {
  transform: scale(1.2);
}

.swiper .swiper-slide .slideContainer::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 55%;
  background: linear-gradient(
    0deg,
    rgb(30, 30, 30, 0.85) 0%,
    rgb(30, 30, 30, 0) 75%
  );
  border-radius: 0.1rem;
}

.swiper .swiper-slide .slideContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.1rem;
  position: absolute;
}
